<style>
  .btn{
    background-color: rgb(255, 208, 0);
  }
</style>

<h4>Aday Bilgileri</h4>
<form (ngSubmit)="next()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Ad</label>
      <input class="form-control" [(ngModel)]="form.ad" name="ad" required (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Soyad</label>
      <input class="form-control" [(ngModel)]="form.soyad" name="soyad" required (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Telefon</label>
      <input class="form-control" [(ngModel)]="form.telefon" name="telefon" required (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>TC Kimlik No</label>
      <input class="form-control" [(ngModel)]="form.tc_no" name="tc_no" required (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>E-posta</label>
      <input type="email" class="form-control" [(ngModel)]="form.e_posta" name="e_posta" required (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Şifre</label>
      <input type="password" class="form-control" [(ngModel)]="form.sifre" name="sifre" required (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Medeni Durum</label>
      <input class="form-control" [(ngModel)]="form.medeni_durum" name="medeni_durum" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Eğitim Düzeyi</label>
      <input class="form-control" [(ngModel)]="form.egitim_duzeyi" name="egitim_duzeyi" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Askerlik</label>
      <input class="form-control" [(ngModel)]="form.askerlik" name="askerlik" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Askerlik Açıklama</label>
      <input class="form-control" [(ngModel)]="form.askerlik_aciklama" name="askerlik_aciklama" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Askerlik Tarihi</label>
      <input type="date" class="form-control" [(ngModel)]="form.askerlik_tarihi" name="askerlik_tarihi" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Fotoğraf</label>
      <input class="form-control" [(ngModel)]="form.fotograf" name="fotograf" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>İl</label>
      <input class="form-control" [(ngModel)]="form.il" name="il" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>İlçe</label>
      <input class="form-control" [(ngModel)]="form.ilce" name="ilce" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Cinsiyet</label>
      <input class="form-control" [(ngModel)]="form.cinsiyet" name="cinsiyet" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Doğum Tarihi</label>
      <input type="date" class="form-control" [(ngModel)]="form.dogum_tarihi" name="dogum_tarihi" (ngModelChange)="formChange.emit(form)">
    </div>
    <div class="col-md-6 mb-3">
      <label>Doğum Yılı</label>
      <input class="form-control" [(ngModel)]="form.dogum_yili" name="dogum_yili" (ngModelChange)="formChange.emit(form)">
    </div>
  </div>
  <div class="mt-4 text-end">
    <button type="submit" class="btn">İleri</button>
  </div>
</form>