.custom-footer {
  background: rgb(63, 63, 63);
  color: #fff;
  width: 100%;
  left: 0;
 
  z-index: 200;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.13);
 
  height: 100px;
}

.container{
    padding: 20px;
}

.footer-text {
  font-size: 1rem;
  letter-spacing: 0.3px;
  
}

.footer-link {
  color: #fff;
  text-decoration: underline;
  margin-left: 8px;
  transition: color 0.2s;
}

.footer-link:hover,
.footer-link:focus {
  color: #ffce00;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 0.95rem;
  }
  .custom-footer {
    padding: 0.5rem 0;
  }
}